.avatar{
    margin-left:auto;
    margin-right:auto;
    width: 18em
}
.title-contact{
    color:var(--currentColorCardBody);
    font-family: "Chakra Petch";
    text-align: center;
    font-size: 65px;
}
.contact-grid{
    background: transparent /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.list-group-item{
    border:0 !important;
    padding-top:2px !important;
    padding-bottom:2px !important;
}
.fa{
    color:var(--currentColorIcon)
}
.fa:hover{
    color:var(--currentColorHoverIcon)
}